*{
    margin:0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: #00AAA5;
    color: #E8F3F1;
    font-family:'Pattaya';
}

button{
    font-family: inherit;
    font-size: inherit;
    background-color: #D3A6B6;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: #F9F4F2;
    font-weight: 400;
}
.main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    width: 100vw;
    height: 100vh;
}

.header{
    font-size: 28px;
    grid-area: 1/1/2/6;
    justify-self: center;
    align-self: center;
}

.controls{
    grid-area: 2/1/5/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.controls > *{
    margin: 15px 10%;
    display: flex;
    justify-content: center;
}

.grid-container{

    --sq:min(100vh*3/4, 100vw*3/5);
    grid-area: 2/3/5/6;
    display:flex;
    align-items: center;
}
.container{
    background-color: white;
    width: calc(var(--sq) - 20px);
    height: calc(var(--sq) - 20px);
    display: flex;
    flex-wrap: wrap;

}

.slider{
    width: clamp(100px, 50%, 90%);
    -webkit-appearance: none;
    height: 15px;
    background-color: #E8F3F1;
    border-radius: 7px;
    transition: .1s;
}

#number-input{
    
    background: #E8F3F1;
    border:none;
    border-radius: 7px;
    width: min-content;
    width: 30px;
    height: 15px;
    color: #dd8aa7;
    font-weight: 800;
    text-align: center;
    margin: 0 5px;
    transition: 0.1s;
}

#number-input:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

#number-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background: #D3A6B6;
    border-radius: 50%;
}

.slider:hover{
    transform: scale(1.1);
}


@media (max-width:500px) {
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main > *{
        margin-top: 50px;
        
    }
    
}